body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    background-color: #ffffff;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-weight: 700;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
    display: block;
}

.portfolio-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: box-shadow 250ms ease;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text-wrap {
    padding: 32px 16px;
}

.portfolio-item-title {
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;
}

.portfolio-item-desc {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}